<app-navbar></app-navbar>

<div class="dashboard">

    <app-sidebar></app-sidebar>

    <main class="content">

        <section class="welcome">

            <h2>👋 Bienvenido, Administrador</h2>

            <p>
                Sistema de Gestión Vehicular del Estado de Oaxaca
            </p>

        </section>

        <section class="cards">

            <div class="card">

                <div class="icon vehicle">
                    <i class="bi bi-car-front-fill"></i>
                </div>

                <div>

                    <h3>2450</h3>

                    <span>Vehículos registrados</span>

                </div>

            </div>

            <div class="card">

                <div class="icon file">
                    <i class="bi bi-file-earmark-text-fill"></i>
                </div>

                <div>

                    <h3>132</h3>

                    <span>Trámites activos</span>

                </div>

            </div>

            <div class="card">

                <div class="icon users">
                    <i class="bi bi-people-fill"></i>
                </div>

                <div>

                    <h3>58</h3>

                    <span>Usuarios</span>

                </div>

            </div>

            <div class="card">

                <div class="icon reports">
                    <i class="bi bi-bar-chart-fill"></i>
                </div>

                <div>

                    <h3>16</h3>

                    <span>Reportes</span>

                </div>

            </div>

        </section>

        <section class="actions">

            <h3>Acciones rápidas</h3>

            <div class="buttons">

                <button>Registrar Vehículo</button>

                <button>Nuevo Trámite</button>

                <button>Nuevo Usuario</button>

            </div>

        </section>


        <section class="table-card">

            <h3>Actividad reciente</h3>

            <table>

                <thead>

                    <tr>

                        <th>Usuario</th>

                        <th>Acción</th>

                        <th>Fecha</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>Juan Pérez</td>

                        <td>Registró un vehículo</td>

                        <td>Hoy 09:30</td>

                    </tr>

                    <tr>

                        <td>Ana López</td>

                        <td>Aprobó un trámite</td>

                        <td>Hoy 10:10</td>

                    </tr>

                    <tr>

                        <td>Carlos Ruiz</td>

                        <td>Creó un usuario</td>

                        <td>Ayer</td>

                    </tr>

                </tbody>

            </table>

        </section>

    </main>

</div>

<app-footer></app-footer>